* {
    margin: 0;
    box-sizing: border-box;
}

.contentBox {
    width: 90vw;
    max-width: 900px;
    border: 2px solid black;
    margin: auto;
    display: flex;
}

.landing {
    margin-top: 20px;
}

.landing,
.services {
    height: 50vh;
}

.aboutMe,
.portfolio {
    height: 40vh;
    flex-direction: row;
    text-align: left;
    justify-content: center;
}

.rowBox {
    align-content: center;
    justify-items: center;
    height: 100%;
    border: 2px solid grey;

}

.callNowButton {
    padding: 7px 20px;
    border-radius: 4px;
    background-color: black;
    color: white;
}

.nameBox {
    width: 55%;
}

.personalImage {
    width: 45%;
}

.heading {
    font-size: 3rem;
    text-align: center;
    margin: auto;
}

.description {
    font-size: 1.3rem;
    margin: 10px 0;
}

.sectionTitle {
    text-align: center;
}

.descriptionBox {
    height: 100%;
    width: 60%;
    border: 2px solid grey;
    align-content: center;
}

.aboutMeImage {
    width: 30%;
    height: 100%;
    border: 2px solid grey;
}

.aboutMeDescription {
    margin: 20px;
    line-height: 1.4;
    font-size: 1.1rem;
    font-weight: 600;
}

.serviceContent{
    height: 80%;
    width: 30%;
    border: 2px solid blue;
    margin: auto;
}

.portfolio{
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {

    .landing,
    .aboutMe,
    .services,
    .portfolio {
        height: 100vh;
        flex-direction: column;
    }
    .serviceContent{
        height: 30%;
        width: 0% !important;
    }
    div {
        margin: auto;
        width: 100% !important;
    }
}