* {
    margin: 0;
    box-sizing: border-box;
}

/* --rich-black: #0d1321ff;
--mint-cream: #f1fffaff;
--flame: #eb5e28ff;
--chefchaouen-blue: #5386e4ff;
--battleship-gray: #7d7e75ff; */

.contentBox{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

h4{
    color: #F1FFFA;
    font-size: 5rem;
    margin-top: 250px;
}

#textChange{
    margin-top: 0;
}

#services{
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hero  {
    height: 90vh;
     border: white 2px solid;
}

.services{
    height: 100%;
    width: 30%;
    border: white 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 45%;
}

h2{
    color: #F1FFFA;
}