:root {
    --main-text-color: #f1fffaff;
    --secondary-text-color: #f1fffa99;
    --main-bg: #0d1321ff;
    --accent-flame: #eb5e28ff;
    --accent-chefchaouen-Blue: #5386e4ff;
    --accent-batteship-Grey: #7d7e75ff;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: var(--main-text-color)
}

.description,
.serviceDescription,
.whyDescription {
    color: var(--secondary-text-color);
}

.whyHeading {
    font-size: 1.9rem;
    text-align: center;
    margin: 50px auto;
}

.whyDescription {
    line-height: 1.7;
    font-size: 1.1rem;
}

.contentBox {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.serviceTitle {
    font-size: 1.3rem;
    text-align: center;
    margin: 10px auto;
    width: 100%;
}

.serviceSection {
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 25vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.enhance {
    font-size: 1.3rem;
    margin-top: 10px;
    border: 2px solid white;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 85vh;
    top: 80px;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
}

.heroText {
    font-size: 3.4rem;
    text-align: center;
    margin: auto;
}

.description {
    text-align: center;
}

.services {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.serviceSection {
    height: 50vh;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 80;
}

img {
    width: 60%;
    margin: 0;
}

.why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25vh;
    left: 0;
    right: 0;
}

.hero,
.whySection,
.serviceSection {
    transition: 500ms ease-in;
}

.blogButton{
    display: none;
}

@media screen and (max-width: 550px) {
    .services {
        width: 80%;
        height: 28%;
        margin: 0 auto;
    }

    .serviceSection {
        height: 100vh;
        flex-direction: column;
        top: 80;
    }

    .serviceDescription {
        width: 100%;
    }

    img {
        width: 50%;
        margin: 0;
    }

    .why {
        top: 8vh;
    }

    .serviceSection {
        top: 80px;
    }

    .blogButton {
        display: none;
    }
}